<%= render "layouts/headerUser" %>

<h3 class='welcome'> All posts</h3>

<div class='messages' >
  <% @posts.each do |post| %>
    <%= link_to user_post_path(@user, post) do %>
    <p>
       <% if "#{post.message}".include?("\n") %>
      <%= simple_format("#{post.message} - #{post.created_at.to_date}") %>
    <% else %>
      <%=  "#{post.message} - #{post.created_at.to_date}" %>
    <% end %>
    </p>
    <% end %>
  <% end %>
</div>
