
<h3>Welcome <%= @user %> you are successfully signed up </h3>

<% @posts.each do |post| %>
  <p><%= post.message%> - <%= post.created_at.to_date%></p>
<% end %>
<%= link_to new_post_path do %>
  New post
<% end %>
