
<h3> Acebook Home </h3>

<% @posts.each do |post| %>
  <p><%= simple_format(post.message)%> - <%= post.created_at.to_date%></p>
<% end %>
<%= link_to new_user_post_path do %>
  New post
<% end %>
<p>
<%= link_to user_post_url(@user, @user) do %>
  User posts
<% end %>
