<%= render "layouts/headerAll" %>
<div class='message' align='center'>
<p><%= "#{@post.message} - #{@post.created_at.to_date}"%></p>
</div>


<div class='edit' align='center'>
<%= link_to user_posts_path(@user) do %>
  Edit  
<% end %>
-
<%= link_to user_posts_path(@user) do %>
  Delete
<% end %>
</div>
