.welcome {
  margin-left: 2%;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
}

.signup {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
}

.messages a {
  text-decoration: none;
}

.messages p {
  margin-left: 2%;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  color: #000000;
}

.messages p:hover, p:active {
  background-color: transparent;
  text-decoration: none;
  color: rgb(2, 117, 10);
}

.messages a:hover, a:active {
  background-color: transparent;
  text-decoration: none;
  color: rgb(2, 117, 10);
}

.newpost {
  margin-left: 2%;
  font-family: Helvetica;
  font-weight: bold;
  font-size: small;
  text-decoration: none;
}