.welcome {
  margin-left: 2%;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
}

.messages {
  margin-left: 2%;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  color: #000000;
}

.messages a:hover {
  background-color: transparent;
  color: rgb(2, 117, 10);
}

.newpost {
  margin-left: 2%;
  font-family: Helvetica;
  font-weight: bold;
  font-size: small;
  text-decoration: none;
}